  <ul>
    <% @courses.each do |course| %>
      <li><%= course.name %>: <%= course.number_enrolled %></li>
      <br>

      <ul>
        <% course.residents.sort_alphabetical.each do |resident| %>
          <li><%= resident.name %></li>
          <br>
        <% end %>
      </ul>

      <br>
    <% end %>
  </ul>